server:
  port: ${service.port}

spring:
  profiles:
    active: dev
  application:
    name: feedback
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    password: ${db.password}
    url: ${db.url}
    username: ${db.username}
    driver-class-name: ${db.driver}
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: ${db.dialect}
        format_sql: true
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: ${eureka.url}
    fetch-registry: true
    register-with-eureka: true
    enabled: true
