server:
  port: ${microservices.attraction.port}

spring:
  profiles:
    active: default
  application:
    name: attraction
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    url: jdbc:postgresql://localhost:${datasources.postgresql.port}/attraction
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:${microservices.eureka-server.port}/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true
