server:
  port: ${microservices.auth.port}

spring:
  profiles:
    active: dev
  application:
    name: auth
  config:
    import: optional:configserver:http://localhost:8888
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    enabled: true
