server:
  port: 8083

spring:
  profiles:
    active: default
  application:
    name: plan
  datasource:
    url: jdbc:postgresql://localhost:5432/plan
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true
