server:
  port: 8081

spring:
  profiles:
    active: default
  application:
    name: trip
  datasource:
    password: password
    url: jdbc:postgresql://localhost:5432/trip
    username: postgres
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true