services:
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres
    restart: unless-stopped

  eureka-server:
    build:
      context: eureka-server
      dockerfile: Dockerfile
    image: maghrebtrip/eureka-server:latest
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - spring

  tourist:
    build:
      context: tourist
      dockerfile: Dockerfile
    image: maghrebtrip/tourist:latest
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    container_name: tourist
    ports:
      - "8080:8080"
    networks:
      - spring
      - postgres
    depends_on:
      - eureka-server
      - postgres

  city:
    build:
      context: city
      dockerfile: Dockerfile
    image: maghrebtrip/city:latest
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    container_name: city
    ports:
      - "8082:8082"
    networks:
      - spring
      - postgres
    depends_on:
      - eureka-server
      - postgres

  plan:
    build:
      context: plan
      dockerfile: Dockerfile
    image: maghrebtrip/plan:latest
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    container_name: plan
    ports:
      - "8083:8083"
    networks:
      - spring
      - postgres
    depends_on:
      - eureka-server
      - postgres
      - city
      - attraction

  attraction:
    build:
      context: attraction
      dockerfile: Dockerfile
    image: maghrebtrip/attraction:latest
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    container_name: attraction
    ports:
      - "8084:8084"
    networks:
      - spring
      - postgres
    depends_on:
      - eureka-server
      - postgres

networks:
  postgres:
    driver: bridge
  spring:
    driver: bridge

volumes:
  postgres:
  pgadmin: